Middleware/demo/.mule/apps/item-sys-api/item-sys-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <context:property-placeholder location="app-${env}.properties"/>
    <http:request-config name="HTTP_Request_Configuration" host="${item_host}" port="${item_port}" basePath="${item_base}" doc:name="HTTP Request Configuration"/>
    <configuration defaultExceptionStrategy-ref="globalexceptionCatch_Exception_Strategy" doc:name="Configuration">
        <http:config useTransportForUris="false"/>
    </configuration>
    <flow name="get:getByAvailability">
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="isAvailable" value="#[message.inboundProperties.'http.query.params'.isAvailable]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:getById">
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="post:createItem">
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="POST" doc:name="HTTP"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="delete:removeItem">
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="put:updateItem">
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="PUT" doc:name="HTTP"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
