Middleware/demo/customer-sys-api/target/classes/customer_sys.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="customer_sys-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customer_sys-config" raml="customer_sys.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false"/>
    <flow name="customer_sys-main">
        <http:listener config-ref="customer_sys-httpListenerConfig" path="/sys/*" doc:name="HTTP"/>
        <apikit:router config-ref="customer_sys-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customer_sys-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customer_sys-console">
        <http:listener config-ref="customer_sys-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customer_sys-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/customer:customer_sys-config">
        <flow-ref name="put:customerUpdate" doc:name="Flow Reference"/>

    </flow>
    <flow name="delete:/customer/{id}:customer_sys-config">
        <flow-ref name="delete:custommerById" doc:name="Flow Reference"/>

    </flow>
    <flow name="get:/customer:customer_sys-config">
        <flow-ref name="get:customerByEmail" doc:name="Flow Reference"/>

    </flow>
    <flow name="get:/customers:customer_sys-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;customerId&quot;:1,&#xA;    &quot;customerFirstName&quot;:&quot;FName&quot;,&#xA;    &quot;customerLastName&quot;:&quot;Lname&quot;,&#xA;    &quot;customerUsername&quot;:&quot;abc@mail.com&quot;,&#xA;    &quot;customerEmail&quot;:&quot;abc@mail.com&quot;&#xA;   },&#xA;   {&#xA;     &quot;customerId&quot;:2,&#xA;    &quot;customerFirstName&quot;:&quot;FName&quot;,&#xA;    &quot;customerLastName&quot;:&quot;Lname&quot;,&#xA;    &quot;customerUsername&quot;:&quot;abc@mail.com&quot;,&#xA;    &quot;customerEmail&quot;:&quot;abc@mail.com&quot;&#xA;   }&#xA;]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customer/{id}:customer_sys-config">
        <flow-ref name="get:customerById" doc:name="Flow Reference"/>

    </flow>
    <flow name="post:/customer:customer_sys-config">
        <flow-ref name="post:customerAdd" doc:name="Flow Reference"/>

    </flow>
    <apikit:mapping-exception-strategy name="customer_sys-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: #[payload] }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
