Middleware/demo/customer-sys-api/target/classes/implementation-sys.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="${customer_host}" port="${customer_port}" basePath="${customer_base}" doc:name="HTTP Request Configuration"/>
    <context:property-placeholder location="app-${env}.properties"/>
    <configuration defaultExceptionStrategy-ref="globalexceptionCatch_Exception_Strategy" doc:name="Configuration">
        <http:config useTransportForUris="false"/>
    </configuration>
    <flow name="get:customerByEmail">
        <logger message="${customer_host}" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="email" value="#[message.inboundProperties.'http.query.params'.emailId]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="post:customerAdd">
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="POST" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="delete:custommerById">
        <logger level="INFO" doc:name="Logger"/>
        <set-payload value="#[payload]" mimeType="application/json" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="get:customerById">
        <logger message="#[message.inboundProperties.'http.uri.params'.id]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{id}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <logger level="INFO" doc:name="Logger"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="put:customerUpdate">
        <logger level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/" method="PUT" doc:name="HTTP"/>
        <exception-strategy ref="globalexceptionCatch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
